{% extends "baseDashboard.html" %}
{% block title %} Tables {% endblock%}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    UserTable
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>email</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>email</th>
                                <th>Remove</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in users%}
                            <tr>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td><a href="/deleteUser"><button class="btn btn-outline-danger">Remove</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Post Table
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tagline</th>
                                <th>Category</th>
                                <th>First Image</th>
                                <th>First Content </th>
                                <th>Second Image</th>
                                <th>Second Heading</th>
                                <th>Second Content </th>
                                <th>Date</th>
                                <th>Edit Post</th>
                                <th>Delete Post</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <th>#</th>
                            <th>Tagline</th>
                            <th>Category</th>
                            <th>First Image</th>
                            <th>First Content </th>
                            <th>Second Image</th>
                            <th>Second Heading</th>
                            <th>Second Content </th>
                            <th>Date</th>
                            <th>Edit Post</th>
                            <th>Delete Post</th>
                        </tfoot>
                        <tbody>
                            {% for post in posts%}
                            <tr>
                                <td>{{post.sno}}</td>
                                <td>{{post.tagline}}</td>
                                <td>{{post.category}}</td>
                                <td>{{post.firstImage}}</td>
                                <td>{{post.firstContent}}</td>
                                <td>{{post.secondImage}}</td>
                                <td>{{post.secondHeading}}</td>
                                <td>{{post.secondContent}}</td>
                                <td>{{post.date}}</td>
                                <td><a href="/editPost"><button class="btn btn-outline-primary">Edit</button></a></td>
                                <td><a href="/deletePost"><button class="btn btn-outline-danger">Delete</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>


    {% endblock %}