{% extends "base.html" %}
{% block title %} User Post {% endblock%}

{% block content %}


<!-- Page Header-->
<header class="masthead" style="background-image: url('{{url_for ("static", filename="img/userPost.png")}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>User Post</h1>
                    <span class="subheading">You Can Get All Kind User Review here</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                {% for post in posts%}
                {% set image ="img/"+post.firstImage %}
                {% set content = post.firstContent[0:500] %}
                {% set tagline = post.tagline[0:200] %}
                {% if "Admin" not in post.writer %}

                
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src={{url_for("static", filename=image)}}
                                alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{post.date}}</div>
                            <h2 class="card-title h4">{{tagline}}</h2>
                            <p class="card-text">{{content}}</p>
                            <a class="btn btn-primary" href="/post/{{post.tagline}}">Read more →</a>
                            <br>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{post.writer}}</a>
                                {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

           

            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item" style="padding:0px 100px;"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">Newer</a></li>
                    <!--<li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>-->
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <form action="/userPost", method="POST">
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                            aria-label="Enter search term..." aria-describedby="button-search" name="search" />
                        <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                    </div>
                </div>
            </div>
            </form>
            <!-- Categories widget-->

            <!-- Side widget-->

        </div>
    </div>
</div>




{% endblock %}